<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Informational Site</title>
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contact-me">Contact</a></li>
        <li><a href="/unknown">Unknown Page</a></li>
      </ul>
    </nav>
    <main>
      <h1>Home</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aut
        voluptatibus fugiat cupiditate maiores! Voluptatibus obcaecati, vitae
        maxime, ad asperiores, voluptas nemo doloribus temporibus libero tempora
        eos facilis quos fugit. Error minus est suscipit quod, a esse hic
        eligendi architecto id cum dolorem mollitia aliquid modi perferendis
        molestiae doloribus reiciendis. Expedita rem aspernatur odio in est
        quisquam alias. Aliquam, nobis?
      </p>
    </main>
  </body>
</html>
